.tipNav {
    height: 86px;
    background-color: white;
    margin-top: 21px;
    margin-bottom: 19px;
    padding-left: 20px;;
}

.tipNav > div {
    float: left;
}

.str-text {
    font-size: 18px;
    color: #77bba0;
}

.text {
    color: #717171;
    font-size: 15px;

}

.tip-list {
    width: 261px;
    margin-top: 5px;
}

.tip-list span {
    float: left;
    border: 1px solid #58dba6;
    padding: 3px 7.5px;
    color: #58dba6;
    font-size: 15px;
    margin: 5px;
}

.tipTi {
    line-height: 86px;
    margin: 0 20px;
    font-size: 15px;
}

.tip-detail {
    margin-top: 22px;
}

.d-img {
    vertical-align: text-top;
}

.img-warp {
    margin-top: 10px;
    position: relative;
}

.img-warp img {
    height: 66px;
    width: 90px;
}

.nav {
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0 !important;
}

.nav li {
    float: left;
    font-size: 16px;
    margin: 26px 28px 17px 20px;
    padding: 6.5px 27px;
    border-radius: 3px;
    color: #989898;
}

.nav a {
    color: #989898;
}

.nav-act {
    background-color: #2fd297;
    color: white !important;
}

.nav-act a {
    color: white !important;

}

.nav-link {
    font-size: 16px;
    position: relative;
    text-decoration: underline;
    color: #69dbad !important;
}

.nav-link:hover {
    cursor: pointer;
    background-color: white !important;
    text-decoration: underline !important;
}

.report {
    color: #2c2c2c;
    height: 27px;
    line-height: 34px;
    font-size: 20px;
    background-image: url('../img/dialog.png');
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 8px 29px;
}

/*.nav-link a {*/
/*text-decoration: underline;*/
/*color: #69dbad !important;*/
/*}*/

/*.nav-link a:hover {*/
/*background-color: white !important;*/
/*text-decoration: underline !important;*/
/*}*/

.choose {
    background-color: #2fd297;
    color: white;
    height: 44px;
    line-height: 44px;
    width: 117px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.content {
    float: left;
    width: 837px;
    background-color: white;
    padding: 57px 0 124px 83px;
    margin-bottom: 13px;
}

.content-lis {
    margin-bottom: 8px;
    font-size: 16px;
    overflow: hidden;
}

.content-lis > div {
    float: left;
    width: 50%;
}

.descri {
    padding: 5px 20px;
    float: left;
    background-color: white;
    width: 412px;
    height: 260px;
    margin-bottom: 18px;
}

.fis {
    margin-right: 12px;
}

.descri h4 {
    font-size: 16px;
    color: #2fd297;
    margin: 26px 0;
}

.descri h4 span {
    font-weight: bolder;
}

.descri p {
    color: #7b7f7d;
    margin: 5px 0;
    font-size: 16px;
}

.descri div {
    color: #7b7f7d;
}

.active-ab h4 {
    margin: 10px 0;
}

.active-ab {
    font-size: 16px;
    color: #2fd297;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    margin-top: 18px;
    height: 95px;
    overflow: hidden;
}

.active-ab p {
    color: #7b7f7d;
}

.us-img {
    overflow: hidden;
    margin: 15px 0 42px 0;
}

.img-fir {
    margin-right: 8px;
}

.us-img img {
    float: left;
    width: 455px;
    height: 145px;
}

.inputMsg {
    position: absolute;
    z-index: 999;
    background-color: white;
    width: 160px;
    border: 1px solid #D6D6D6;
    left: -1px;
    padding: 10px;
}
.inputMsg input{
    width: 145px;
}

.title {
    font-size: 16px;
    color: #2F93D2;
    text-align: center;
    font-weight: bold;
}
.title img{
    width: 15px;
    height: 15px;
    float: right;
}

.tipMs {
    color: red;
    font-size: 12px;
}

.btn-sub {
    background-color: #2F93D2 !important;
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    margin: 10px 0;
}